<div class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <p>Please paste the information in this format: <div class="lead">
          rel_number:group_number:leader:[member:]
        </div></p>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-10">
              <textarea name="groups" class="form-control" rows="20" cols="80" ng-model="text"></textarea>
            </div>
            <button type="button" ng-click="parseText()" class="btn btn-default">Add</button>
            <br><br>
            <button type="button" ng-click="deleteAll()" class="btn btn-default">Delete all groups</button>
            <br><br>
            <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>

            <button type="button" ng-click="cancel()" class="btn">Cancel</button>
          </div>
        </form>
        <div class="panel panel-primary" ng-repeat="group in prettyGroups track by $index" ng-init="groupIndex = $index">
          <div class="panel-body">
            <div>
              {{group}}
            </div>
            <button type="button" class="btn btn-default pull-right" ng-click="deleteGroup(groupIndex)">
                    <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
        <button type="button" ng-click="cancel()" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>
