<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">{{title}}</h2>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="panel panel-default" ng-repeat="q in questions track by $index" ng-init="questionIndex = $index">
            <div class="panel-heading">
              <h3 class="panel-title">{{q.text}}</h3>
            </div>
            <div class="panel-body">

                <h4>{{m}}</h4>
                <div class="radio-inline" ng-repeat="level in q.levels" ng-if="q.type=='Single choice'">
                  <label><input type="radio"  value="{{$index}}">{{level}}</label>
                </div>
                <div class="checkbox-inline" ng-repeat="option in q.options" ng-if="q.type=='Multiple choice'">
                  <label><input type="checkbox">{{option}}</label>
                </div>
                <textarea rows="3" ng-if="q.type=='Text'" class="form-control"></textarea>
                <rzslider ng-if="q.type=='Slider'" rz-slider-options="{floor: 0, ceil: 100, step: 10}"></rzslider>

              <textarea placeholder="Comment" rows="3" class="form-control display" ng-if="q.type!='Text'"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>
